@model GA20201.Models.Email.EmailTemplate

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Welcome email</title>
    </head>
    <body>
        <h1>Hello, @Model.name</h1>
        <p>Chào mừng bạn đến với lớp GA20201</p>
        <p>@Model.message</p>
    </body>
</html>